$color-1-light: #aec0ea;
$color-1-medium: #3662c9;
$color-1-dark: #1a3062;

$color-2-light: #ff9b99;
$color-2-medium: #ce0300;
$color-2-dark: #920200;

$color-3-light: #ffddb8;
$color-3-medium: #ffa94d;
$color-3-dark: #994f00;

$logoFont: headerFont, san-sarif;
$textFont: 'Rubik', san-sarif;