@import './globalVariables.scss';

.header {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header > div:nth-of-type(1) {
	width: 100%;
	max-width: 300px;
	height: 90px;
	position: relative;
}

.header > div:nth-of-type(2) {
	display: flex;
	margin: 0px 20px;
}

.header > div:nth-of-type(2) > a {
	font-family: $logoFont;
	font-size: 16px;
	font-weight: 200;
	margin: 0px 8px;
	padding: 8px 18px;
	background-color: $color-2-dark;
	color: white;
	border: 2px solid $color-2-medium;
	border-radius: 5px;
	cursor: pointer;
}

.header > div:nth-of-type(2) > .active {
	font-family: $logoFont;
	font-size: 16px;
	font-weight: 200;
	margin: 0px 8px;
	padding: 8px 18px;
	background-color: white;
	color: $color-2-dark;
	border: 2px solid $color-2-medium;
	border-radius: 5px;
	cursor: pointer;
}

.header > div:nth-of-type(3) {
	display: none;
}

.header > div:nth-of-type(3) > div {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 225px;
	background-color: $color-2-dark;
	border-right: 5px solid black;
	z-index: 999;
}

.header > div:nth-of-type(3) > div > nav {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px
}

.header > div:nth-of-type(3) > div > nav > a {
	font-family: $logoFont;
	font-size: 16px;
	font-weight: 200;
	margin: 16px 0px;
	padding: 8px 20px;
	background-color: white;
	color: $color-2-dark;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid white;
}

.header > div:nth-of-type(3) > div > nav > .active {
	background-color: $color-2-dark;
	color: white;
	box-shadow: 0px 0px 2px 2px white;
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
	.header > div:nth-of-type(2) > a {
		font-size: 14px;
		margin: 0px 6px;
		padding: 7px 16px;
	}
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
	.header {
		flex-wrap: wrap;
	}
	.header > div:nth-of-type(2) > a {
		font-size: 14px;
		margin: 0px 6px;
		padding: 7px 16px;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		padding: 0px 10px;
		gap: 0px 5%;
		height: 100px;
	}

	.header > div:nth-of-type(1) {
		margin: none;

		width: 80%;
		min-width: 80%;
	}
	.header > div:nth-of-type(2) {
		display: none;
	}

	/* Hamburger Icon */
	.header > div:nth-of-type(3) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		min-width: 20%;
	}
}