@import './globalVariables.scss';

.header {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0px;
}

.header > div:nth-of-type(1) {
	flex: 0 1 300px;
	height: 100px;
	position: relative;
	margin: 0px 20px;
}

.header > div:nth-of-type(2) {
	display: flex;
	margin: 0px 20px;
}

.header > div:nth-of-type(2) > a {
	font-family: $logoFont;
	font-size: 16px;
	font-weight: 200;
	margin: 0px 8px;
	padding: 8px 18px;
	background-color: $color-2-dark;
	color: white;
	border: 2px solid $color-2-medium;
	border-radius: 5px;
}

.header > div:nth-of-type(3) {
	flex: 0 1 auto;
	display: none;
}

.header > div:nth-of-type(3) > div {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 225px;
	background-color: $color-2-dark;
	border-right: 5px solid black;
	z-index: 999;
}

.header > div:nth-of-type(3) > div > nav {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px
}

.header > div:nth-of-type(3) > div > nav > a {
	font-family: $logoFont;
	font-size: 16px;
	font-weight: 200;
	margin: 16px 0px;
	padding: 8px 20px;
	background-color: white;
	color: $color-2-dark;
	border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
	.header > div:nth-of-type(2) > a {
		font-size: 14px;
		margin: 0px 6px;
		padding: 7px 16px;
	}
}

@media only screen and (max-width: 800px) {
	.header {
		flex-wrap: wrap;
	}
	.header > div:nth-of-type(2) > a {
		font-size: 14px;
		margin: 0px 6px;
		padding: 7px 16px;
	}
}

@media only screen and (max-width: 600px) {
	.header > div:nth-of-type(1) {
		margin: none;
	}
	.header > div:nth-of-type(2) {
		display: none;
	}
	.header > div:nth-of-type(3) {
		display: flex;
	}
}